.metadata-links {
	position: relative;
}

.metadata-links .metadata-links-card {
	display: flex;
	width: 100%;
	margin: 20px 0;
	border: 1px solid var(--background-modifier-border);
	border-radius: 3px;
	background-color: var(--background-primary);
	text-decoration: none;
}

.metadata-links-card-image {
	flex-shrink: 0;
	width: 35%;
	min-width: 120px;
	min-height: 120px;
	align-self: stretch;
	overflow: hidden;
	border-right: 1px solid var(--background-modifier-border);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: var(--background-secondary);
}

.metadata-links-card-body {
	width: 75%;
	padding: 8px;
	overflow: hidden;
}

.metadata-links-card-title {
	display: -webkit-box;
	margin: 0 0 4px 0;
	overflow: hidden;
	font-family: sans-serif;
	font-size: 1.125rem;
	color: var(--text-normal);
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.metadata-links-card-description {
	display: -webkit-box;
	margin: 0;
	overflow: hidden;
	font-family: sans-serif;
	font-size: 1rem;
	color: var(--text-muted);
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.metadata-links-card-url {
	display: -webkit-box;
	margin: 0;
	overflow: hidden;
	font-family: sans-serif;
	font-size: 1rem;
	color: var(--text-faint);
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.metadata-links .metadata-links-compact {
	display: inline-flex;
	align-items: center;
	font-family: sans-serif;
	font-size: 1rem;
}

.metadata-links-settings-templates {
	margin: 0;
	padding-left: 20px;
}
